@import "./typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* nunito-700 - font-bold */
@font-face {
  font-display: swap; 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Nunito-Bold.woff2') format('woff2');
}

/* roboto-400 */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

/* roboto-500 - font-medium */
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
}
