/* nunito-400 */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Nunito-Regular.woff2') format('woff2'); 
}

/* nunito-700 - font-bold */
@font-face {
  font-display: swap; 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Nunito-Bold.woff2') format('woff2'); 
}

/* nunito-900 - font-black */
@font-face {
  font-display: swap; 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Nunito-Black.woff2') format('woff2'); 
}